<div class="index">
  <h1>Network</h1>
  <h2 class="description">A connection game originally published in Sid Sackson's <em>A Gamut of Games</em></h2>
  <%= link_to "Tutorial", tutorial_teams_path %>
  <div class='navagation'>
    <%= link_to "Local Game", local_path %>
    <%= link_to "Multiplayer Game", pending_players_path %>
    <%= link_to "Computer Player Game", '#' %>
    <%= link_to "Random Move Game", computer_path %>
  </div>
</div>
