<h1>Network</h1>
<p>A connection game originally published in Sid Sackson's <em>A Gamut of Games</em></p>
<%= link_to "Tutorial", tutorial_teams_path %>
<div class='navagation'>
  <%= link_to "Local Game", local_path %>
  <%= link_to "Multiplayer Game", pending_players_path %>
  <%= link_to "Computer Player Game", '#' %>
  <%= link_to "Random Move Game", computer_path %>
</div>

